* {
	box-sizing: border-box;
}

.row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.car-1, .car-2 {
	float: left;
	padding-left: 1.04%;
	padding-right: 1.04%;
}

.car-1, .car-2 {
	width: 100%;
}

@media only screen and (min-width:640px) {
	.car-1, .car-2 {
		width: 33.33%;
	}
}